backend:
  name: git-gateway
  branch: master

media_folder: static/media
public_folder: /media

collections:
  - name: 'project'
    label: 'Project'
    folder: 'content/projects'
    format: 'frontmatter'
    create: true
    slug: '{{name}}'
    editor:
      preview: false
    fields:
      - { label: 'Name', name: 'name', widget: 'string' }
      - { label: 'Description', name: 'description', widget: 'string' }
      - { label: 'Project Image', name: 'image', widget: 'image'}
      - label: 'Stack'
      	name: 'stack'
      	widget: 'list'
      	fields:
      		- { label: 'name', name: 'name', widget: 'string' }
      		- { label: 'icon', name: 'icon', widget: 'image' }

