body {
	background-color: #BFF7FF;
	font-family: 'Lato', sans-serif;
}

h1 {
	font-family: 'Montserrat', sans-serif;
}

.content {
	margin: 1.2rem;
	margin-top: 0.5rem;
	border-radius: 30px;
	background-color: #FFFFFF;
	
}

.navi-sm {
	padding-top: 2rem;
}

.navi {
	padding: 1rem;
}

.navi-link {
	cursor: pointer;
	margin: 0rem 0.7rem;
	color: #3088AE;
}

.text-mute {
	color: #72D2EB;
}

.text-highlight {
	color: #166A8E;
}

.par-text {
	font-size: 20px;
	color: #9e9e9e;
}

.par-text-sm {
	font-size: 15px;
	color: #9e9e9e;
	text-align: justify;
	text-justify: auto;
}

.par-text-li {
	font-size: 15px;
	color: #9e9e9e;
}

.z-depth-5 {
	box-shadow: -5px 38px 25px -22px rgba(0,0,0,0.14);
}

.project-chip {
	margin: 5px;
	opacity: 0.7;
}

.project-chip:hover {
	opacity: 1;
}


@media screen and (min-width: 600px) {
	.content {
		margin-right: 0.7rem;
		margin-top: 2rem;
		padding: 0;
	}
	
	.navi {
		padding: 1rem 1rem 1rem 0rem;
		margin-top: 2rem;
	}
	
	#home {
		background-image: url("Waimakariri2.svg");
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 30px;
	}
	
	#about {
		background-image: url("Waimakariri3.svg");
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 30px;
	}
	
	#skills {
		background-image: url("Waimakariri4.svg");
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 30px;
	}
	
	#projects {
		background-image: url("Waimakariri5.svg");
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 30px;
	}
	
	#contact {
		background-image: url("Waimakariri6.svg");
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 30px;
	}
}

